.App{
  background: black;
}
.series_1{
  box-shadow: 10px 14px 18px 0 rgba(73, 149, 243, 0.8);
  transition: 0.3s;
  position: relative;
  width: 400px;
  height: 250px;
  border-radius: 10px;
  margin: auto;
  background: white;
  top: 20px;
}
.he_2{
  color: rgb(239, 40, 53);
  position: relative;
  left: 156px;
  top: 10px;
  text-decoration-line: underline;
}
.series_line{
  position: relative;
  left: 30px;
  font-weight: 600;
}
.Plaindrome_card{
  box-shadow: 10px 14px 18px 0 rgba(73, 149, 243, 0.8);
  transition: 0.3s;
  position: relative;
  width: 1000px;
  height: 250px;
  border-radius: 10px;
  margin: auto;
  background: white;
  top: 60px;
}
.part_palindrome{
  color: rgb(10, 17, 96);
  position: relative;
  left: 60px;
  top: 10px;
  text-decoration-line: underline;
}
.part_palindrome2{
  position: relative;
  left: 30px;
  top: 20px;
  font-weight: 600;
}